# Prerequisites
*.d
# Template files
*.TMP

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# YouCompleteMe Config
src/.ycm_extra_conf.py

# CMake output
bin
CMakeFiles
cmake_install.cmake
CMakeCache.txt
Makefile
src/CMakeFiles
src/cmake_install.cmake
src/Makefile

# Visual Studio Misc
vc140.pdb
.vscode
.vs
vsproject

